header {
  width: 100%;
  height: 56px;
  text-align: center;
  position: fixed;
  z-index: 2;
  background-color: var(--main-white-color);
}

.navbar-toggle {
  position: absolute;
  visibility: hidden;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  display: flex;
  align-items: center;

  .hamburger {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: var(--main-black-color);

    &::before,
    &::after {
      content: "";
      background-color: var(--main-black-color);
      position: absolute;
      height: 3px;
      left: 0;
    }

    &::before {
      top: 10px;
      width: 16px;
    }

    &::after {
      bottom: 10px;
      width: 24px;
    }
  }
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.brand-logo {
  margin: 0 auto;
  height: 24px;
  width: 136px;
  background: var(--logo-url);
  background-size: 100% 100%;
}

.logo-container-computer {
  display: none;
}

.nav {
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: var(--main-white-color);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.3s ease-out;
}

.nav-item {
  width: 100%;
  margin-bottom: 48px;
  position: relative;
  opacity: 0;

  .nav-link {
    color: var(--main-black-color);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    display: block;
    width: 346px;
    height: 2px;
    background-color: var(--main-gray-color);
    margin: 0 10px;
    opacity: 0.1;
  }
}

.nav-tool-icon {
  width: 24px;
  height: 24px;
  margin: 0 1rem;
  opacity: 0;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .nav .nav-item,
.navbar-toggle:checked ~ .nav .nav-tool-icon {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}

/*桌機*/
@media screen and (min-width: 375px) {
  .hamburger,
  .nav-item::after,
  .logo-container {
    display: none;
  }

  header,
  .nav,
  .nav-item {
    all: unset;
  }

  header {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .logo-container-computer {
    grid-column: 8/10;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .brand-logo-computer {
    height: 30px;
    width: 169.83px;
    background: var(--logo-url);
    background-size: 100% 100%;
  }

  .nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    .nav-item {
      opacity: 1;
    }

    .nav-list {
      grid-column: 3/7;

      .nav-link {
        margin-right: 16px;
      }
    }

    .nav-tool {
      grid-column: 13/15;
      display: flex;
      align-items: center;

      .nav-tool-icon {
        opacity: 1;
      }
    }
  }
}
